<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Book list</h1>
<table>
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    <tr th:each="author : ${authorsCollection}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">First name</td>
        <td th:text="${author.lastName}">Last Name</td>
    </tr>

</table>
</body>
</html>